<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>
<%= form_tag movies_path, :method => :get, id: "ratings_form" do %>
  Include:
    <% @all_ratings.each do |rating| %>
    <%= rating %>
    <%= check_box_tag "ratings[#{rating.to_s}]", rating.to_s,  (@available_ratings.include? rating), id: "rating_#{rating.to_s}" %>
    <%end %>
  <%= submit_tag 'Refresh', id: 'ratings_submit', :class => 'btn btn-primary' %>
<% end %>
<table class="table table-striped col-md-12" id="movies">
  <thead>
  <tr>
    <% columns_to_show = %w[title rating release_date more_info] %>
    <% columns_for_sort = %w[title release_date] %>
    <% columns_to_show.each do |column_name| %>
      <th>
        <%=
        if columns_for_sort.include? column_name
          link_to column_name.titleize, movies_path(:sort => column_name.to_sym), id: "#{column_name}_header",
                  class: ("hilite text-white" if params[:sort]&.to_sym == column_name.to_sym)
        else
          column_name.titleize
        end %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>